# Ignore virtual environment
venv/
ENV/
env/
.venv/
voiceagent/

# Ignore pycache
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables
.env

# Ignore VSCode settings (optional if using VSCode)
.vscode/

# Ignore Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/
